# Airflow Configuration
# Default
AIRFLOW_IMAGE_VERSION=
AIRFLOW_EXECUTOR=
AIRFLOW__API__AUTH_BACKENDS=
AIRFLOW_DATA=
AIRFLOW_DAGS=
AIRFLOW_LOGS=
AIRFLOW_PLUGINS=
AIRFLOW_USER_USERNAME=
AIRFLOW_USER_PASSWORD=
AIRFLOW_USER_EMAIL=
AIRFLOW_USER_ROLE=
# Webserver
AIRFLOW_WEB_SERVER_PORT=


# Postgres Database Configuration
POSTGRES_IMAGE_VERSION=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_VOLUME=


# MongoDB Configuration
MONGODB_IMAGE_VERSION=
MONGODB_CONTAINER_NAME=
MONGODB_PORT=

# Mongo Express Configuration
MONGO_EXPRESS_IMAGE_VERSION=
MONGO_EXPRESS_CONTAINER_NAME=
MONGO_EXPRESS_PORT=
MONGO_EXPRESS_ADMINUSERNAME=
MONGO_EXPRESS_ADMINPASSWORD=
MONGO_EXPRESS_BASIC_AUTH_USERNAME=
MONGO_EXPRESS_BASIC_AUTH_PASSWORD=
MONGO_EXPRESS_SERVER=
MONGO_EXPRESS_HOST_BIND_IP=

# Network Configuration
NETWORK_NAME=